@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.active-link {
		@apply font-bold scale-105;
	}
}

.active-link::after {
	content: '';
	position: absolute;
	bottom: -14px; /* Adjust as needed */
	left: 50%;
	transform: translateX(-50%);
	width: 10px; /* Adjust as needed */
	height: 10px; /* Adjust as needed */
	background-color: #ff5900;
	border-radius: 50%;
	z-index: 99;
}
